#dsh-preview {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}

#dsh-preview:not(:empty) {
  opacity: 1;
}

#dsh-preview img,
#dsh-preview video {
  max-width: 100vw;
  max-height: min(900px,100vh);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: black;
}

#dsh-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
}

#dsh-icon img {
  width: 20px;
  pointer-events: none;
}
